# Neon Postgres
# Project: Serene Nursery Discord LogBot
NEON_PROJECT_ID=proud-poetry-28654304
NEON_BRANCH_ID=br-broad-meadow-ab00zdy6
POSTGRES_DATABASE=neondb
POSTGRES_ROLE=neondb_owner
DATABASE_URL=postgresql://USER:PASSWORD@HOST/neondb?channel_binding=require&sslmode=require

# Discord/Vercel values will be added during bot setup.
DISCORD_APPLICATION_ID=1524437526532853820
DISCORD_PUBLIC_KEY=ccda06d66ad6885e8989df9b37751a69335842bddb40153e387b10cb2268648e
DISCORD_BOT_TOKEN=
DISCORD_GUILD_ID=1524423960723193936
INITIAL_ADMIN_DISCORD_ID=
CRON_SECRET=
